@media (max-width: 768px) {
 .navbar-brand.logo {
    margin-left: 0;
    padding-left: 0;
  }

  .navbar.d-flex.d-md-none {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #mainNavbar {
    margin-left: 13.5rem;
  }

  #mainNavbar .navbar-nav {
    align-items: flex-end;
  }

  #mainNavbar .nav-link {
    justify-content: flex-end;
    text-align: right;
  }
}

@media (max-width: 410px) {
  #mainNavbar {
    margin-left: 11rem;
  }
}

@media (max-width: 389px) {
  #mainNavbar {
    margin-left: 9rem;
  }
}

@media (max-width: 350px) {
  #mainNavbar {
    margin-left: 8rem;
  }
}


@media (max-width: 768px) {
    .home {
        flex-direction: column;
        gap: 2rem;
        margin-top: -3.75rem;
        padding: 2rem 1rem 2rem;
    }
    .home-img {
        align-self: center;
        margin-bottom: 1.5rem;
    }
    .home-img img {
        width: 150px;
        max-width: 60vw;
    }
    .home-content h1 {
        font-size: 2.2rem;
    }
    .home-content h3 {
        font-size: 1.3rem;
    }
    .home-content p {
        font-size: 1rem;
    }
    .social-icons a {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
    }
}


@media (max-width: 768px) {
  .ratio iframe, .ratio embed {
    min-height: 100vw;
    height: 125vw;
  }
}