@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
html::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url(../images/background.png);
    background-color: transparent;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px 0;
}

.box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 0.5rem 9%;
    filter: drop-shadow(10px);
    z-index: 100;
}

.logo {
    font-size: 2.3rem;
    text-align: left;
    margin-left: 25px;
    transition: ease-in-out 0.7s;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    margin-left: 4rem;
    font-size: 1.3rem !important;
    font-weight: 500;
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: color 0.3s ease;
}

nav a:hover,
nav a.active {
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

section{
    min-height: 100vh;
    padding:5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-top: -3.25rem;
}

span{
    color: #b74b4b;
}

.home .home-content h1{
    font: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.7rem;
}

.home-img img{
    position: relative;
    width: 34vh;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s linear;
}

.social-icons a,
.social-icons2 a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  color: white;
  background-color: transparent;
  transition: 0.3s ease;
  text-decoration: none;
}

.social-icons a {
    border: 0.2rem solid #b74b4b;
}

.social-icons a:hover,
.social-icons2 a:hover {
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: #b74b4b;
  box-shadow: 0 0 25px #b74b4b;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
    color: #b74b4b;
}

.typing-text span::before{
    content: "Software Developer Student";
    color: #b74b4b;
    animation: words 20s infinite;
}

@keyframes words {
    0%, 25% {
        content: "Software Developer Student";
    }
    26%, 50% {
        content: "Back-end Development Enjoyer";
    }
    51%, 75% {
        content: "Creative Problem Solver";
    }
    76%, 100% {
        content: "PC Tech Enthusiast";
    }
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: relative;
    width: calc(100%+8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8px;
}

/* CV page */
.pdf-wrapper {
  --bs-aspect-ratio: 141%;
}

/* Work page */
#projects-container {
    margin-top: 2rem;
}

#projects-container .card {
    background-color: rgb(0 0 0 / 0.5);
    border: 3px solid #b74b4b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#projects-container .card:hover {
    transform: scale(1.003);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#projects-container .card-img-top {
    max-width: 100%;
    max-height: 325px;
    object-fit: contain;
}

#projects-container .card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #b74b4b;
}

#projects-container .btn {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#projects-container .btn-primary {
    background-color: #b74b4b;
    color: whitesmoke;
}

#projects-container .btn-primary:hover {
    background-color: #8a3636;
    color: white;
    transform: scale(1.1);
}

#projects-container .btn-secondary {
    background-color: #444;
    color: whitesmoke;
}

#projects-container .btn-secondary:hover {
    background-color: #222;
    color: white;
    transform: scale(1.1);
}

.html {
    color: #F16524;
    font-weight: bold;
}

.css {
    color: #66309A;
    font-weight: bold;
}

.js {
    color: #F7E018;
    font-weight: bold;
}

.ts {
    color: #007acc;
    font-weight: bold;
}

.php {
    color: #787CB5;
    font-weight: bold;
}

.python {
    background: linear-gradient(to right, #306998 50%, #FFD43B 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}

.ruby {
    color: #CC342D;
    font-weight: bold;
}

.bootstrap {
    color: #563d7c;
    font-weight: bold;
}

.api {
    color: #FF8C00;
    font-weight: bold;
}

.rpgmakerxp {
    background: radial-gradient(circle, #FFD43B 63%, #333333 37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}

/* Contact page */
#contactimage {
    width: 34vh;
    border-radius: 25%;
    background-color: white;
    transition: 0.2s linear;
    box-shadow: 0 0 25px #b74b4b;
}